<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Subir Elementos Mediante Excel</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Subir Elementos Mediante Excel</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Subir Elementos Mediante Excel</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" action="/formexcel/" encType="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Archivo Excel</label>
                  <input type="file" required name="sampleFile" />

                </div>

              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

          <!-- general form elements -->

          <!-- /.card-body -->
        </div>

        <!--Here we start with second card -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Borrar Archivos Mediante Excel</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->

            <div class="card-body">
              <h4> Primero descargue el excel con todos los productos y borre del excel los productos que no desea
                borrar</h4>
              <button class="btn btn-primary mb-3"><a style="color:white;" href="/download-excel/">Descargar
                  Excel</a></button>
              <h4> Luego suba el excel con los cambios</h4>
              <form method="POST" action="/delete-excel/" encType="multipart/form-data">
                <div class="form-group">
                  <label for="exampleInputEmail1">Archivo Excel</label>
                  <input type="file" required name="sampleFile" />

                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
            </form>
          </div>
          <!-- /.card -->

          <!-- general form elements -->

          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->